{
	"LOCAL": {
		"CLICKHOUSE_LOGGING": "false",
		"CLICKHOUSE_URL": "http://default:clickhouse@localhost:8124/analytics",
		"DATABASE_URL": "postgresql://starter:starter@localhost:54811/starter?schema=public",
		"MONGODB_URL": "mongodb://localhost:27811/starter",
		"ORDER_MAX_ATTEMPTS": "3",
		"ORDER_MAX_TOTAL": "10000",
		"ORDER_MIN_TOTAL": "10",
		"PLATFORM_ENV": "local",
		"PLATFORM_KEY": "local-admin-key",
		"PLATFORM_ORIGIN": "http://localhost:3000",
		"PORT": "9800",
		"POSTGRES_LOGGING": "false",
		"REDIS_URL": "redis://localhost:63811",
		"SENTRY_DSN": "",
		"SENTRY_TRACES_SAMPLE_RATE": "0.1",
		"SERVICE_TOKEN": ""
	},
	"TEST": {
		"CLICKHOUSE_LOGGING": "false",
		"CLICKHOUSE_URL": "http://default:clickhouse@localhost:8124/analytics",
		"DATABASE_URL": "postgresql://starter:starter@localhost:54811/starter_test?schema=public",
		"MONGODB_URL": "mongodb://localhost:27811/starter_test",
		"ORDER_MAX_ATTEMPTS": "3",
		"ORDER_MAX_TOTAL": "10000",
		"ORDER_MIN_TOTAL": "10",
		"PLATFORM_ENV": "test",
		"PLATFORM_KEY": "test-admin-key",
		"PLATFORM_ORIGIN": "http://localhost:3000",
		"PORT": "9801",
		"POSTGRES_LOGGING": "false",
		"REDIS_URL": "redis://localhost:63811/1",
		"SENTRY_DSN": "",
		"SENTRY_TRACES_SAMPLE_RATE": "0.1",
		"SERVICE_TOKEN": "test-service-token"
	},
	"PROD": {
		"CLICKHOUSE_LOGGING": "false",
		"CLICKHOUSE_URL": "http://default:clickhouse@localhost:8124/analytics",
		"DATABASE_URL": "postgresql://starter:starter@localhost:54811/starter?schema=public",
		"MONGODB_URL": "mongodb://localhost:27811/starter",
		"ORDER_MAX_ATTEMPTS": "3",
		"ORDER_MAX_TOTAL": "10000",
		"ORDER_MIN_TOTAL": "10",
		"PLATFORM_ENV": "production",
		"PLATFORM_KEY": "<\u0438\u0437 \u043f\u0435\u0440\u0435\u043c\u0435\u043d\u043d\u044b\u0445 \u043e\u043a\u0440\u0443\u0436\u0435\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0444\u043e\u0440\u043c\u044b>",
		"PLATFORM_ORIGIN": "http://localhost:3000",
		"PORT": "9802",
		"POSTGRES_LOGGING": "false",
		"REDIS_URL": "redis://localhost:63811",
		"SENTRY_DSN": "<dsn \u043f\u0440\u043e\u0435\u043a\u0442\u0430>",
		"SENTRY_TRACES_SAMPLE_RATE": "0.1",
		"SERVICE_TOKEN": "<\u0438\u0437 \u043f\u0435\u0440\u0435\u043c\u0435\u043d\u043d\u044b\u0445 \u043e\u043a\u0440\u0443\u0436\u0435\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0444\u043e\u0440\u043c\u044b>"
	}
}
