{
	"LOCAL": {
		"CLICKHOUSE_LOGGING": "false",
		"CLICKHOUSE_URL": "http://default:clickhouse@localhost:8124/analytics",
		"MONGODB_URL": "mongodb://localhost:27811/starter",
		"ORDER_MAX_ATTEMPTS": "3",
		"ORDER_MAX_TOTAL": "10000",
		"ORDER_MIN_TOTAL": "10",
		"PLATFORM_ENV": "local",
		"PLATFORM_KEY": "local-admin-key",
		"PLATFORM_ORIGIN": "http://localhost:3000",
		"PORT": "9000",
		"REDIS_URL": "redis://localhost:63811"
	},
	"TEST": {
		"CLICKHOUSE_LOGGING": "false",
		"CLICKHOUSE_URL": "http://default:clickhouse@localhost:8124/analytics",
		"MONGODB_URL": "mongodb://localhost:27811/starter_test",
		"ORDER_MAX_ATTEMPTS": "3",
		"ORDER_MAX_TOTAL": "10000",
		"ORDER_MIN_TOTAL": "10",
		"PLATFORM_ENV": "test",
		"PLATFORM_KEY": "test-admin-key",
		"PLATFORM_ORIGIN": "http://localhost:3000",
		"PORT": "9001",
		"REDIS_URL": "redis://localhost:63811/1"
	}
}
